/*==========================================================================
Common Css
==========================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');
body {
	font-family: var(--body-font);
	color: var(--body-color);
	font-size: 16px;
	line-height: 26px;
  	font-weight: 400;
}
img {
	max-width: 100%;
	height: auto;
	transition: 0.4s;
}
a {  
  outline: none;
  color: inherit;
  text-decoration: none;
}
a,
button,
i {
	text-decoration: none;
	color: inherit;
}
a:focus,
a:hover {
	text-decoration: none;
	color: inherit;
}
/*==========================================================================
Hedging CSS
==========================================================================*/
$list: (h1, 70px, 80px, 0, 0, var(--heading-color), var(--heading-font), 700),
(h2, 48px, 60px, 0, 0, var(--heading-color), var(--heading-font), 700),
(h3, 30px, 40px, 0, 0, var(--heading-color), var(--heading-font), 700),
(h4, 24px, 34px, 0, 0, var(--heading-color), var(--heading-font), 700),
(h5, 22px, 32px, 0, 0, var(--heading-color), var(--heading-font), 700),
(h6, 20px, 30px, 0, 0, var(--heading-color), var(--heading-font), 700);
@each $name, $size, $height, $p, $m, $color, $font, $weight in $list {
    #{$name}{
      font-size: $size;
      line-height: $height;
      padding: $p;
      margin: $m;
      color: $color;
      font-family: $font;
      font-weight: $weight;
    }
}
@media (max-width: 1399px) {
	h2 {
		font-size: 45px;
		line-height: 55px;
	}
}
@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 50px;
	}
}
@media (max-width: 420px) {
	h2 {
		font-size: 31px;
		line-height: 41px;
	}
	h3 {
		font-size: 28px;
		line-height: 38px;
	}
	p {
		font-size: 16px;
	}
}
@media (max-width: 359px) {
	h2 {
		font-size: 27px;
		line-height: 37px;
	}
	h3 {
		font-size: 24px;
		line-height: 34px;
	}
	h4 {
		font-size: 21px;
		line-height: 31px;
	}
	h5 {
		font-size: 20px;
		line-height: 30px;
	}
	h6 {
		font-size: 18px;
		line-height: 28px;
	}
}
/*==========================================================================
Conbix Button And Title Styles CSS
==========================================================================*/
.btn-one,
.btn-two {
	background: var(--primary-color-1);
	color: var(--white);
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 26px;
	padding: 17px 38px;
	text-align: center;
	font-weight: 600;
	z-index: 3;
	position: relative;
	transition: 0.4s;
	overflow: hidden;
	border-radius: 6px;
	i {
		position: relative;
		top: 0px;
		margin-left: 15px;
		font-size: 13px;
	}
    &::before {
		content: '';
		position: absolute;
		height: 400px;
		width: 430px;
		top: 50%;
		left: 50%;
		background: var(--heading-color);
		border-radius: 50%;
		transform: translateY(-50%) translateX(-50%) scale(0);
		transition: all 0.5s ease-out 0s;
		z-index: -1;
    }
    &:hover {
        color: var(--white);
        &::before {
			transform: translateY(-50%) translateX(-50%) scale(1);
        }
    }
	&:focus {
		color: var(--white);
	}
}
.btn-two {
	background: var(--white);
	color: var(--heading-color);
	border: 1px solid var(--color-4);
	padding: 16px 42px;
	&::before {
		background: var(--primary-color-1);
	}
	&:focus {
		color: var(--primary-color-1);
	}
	&:hover {
		border-color: var(--primary-color-1);
	}
}
@keyframes rotate {
	100% {
		transform: rotate(90deg);
	}
}
/*==========================================================================
Scroll Top CSS
==========================================================================*/
.scroll-up {
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px var(--color-8);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
    transition: all 200ms linear;
	&::after {
		position: absolute;
		font-family: 'Font Awesome 5 Pro';
		content: "\f176";
		text-align: center;
		line-height: 50px;
		font-size: 24px;
		color: var(--primary-color-1);
		left: 0;
		top: 0;
		font-size: 20px;
		height: 50px;
		width: 50px;
		cursor: pointer;
		display: block;
		z-index: 1;
		transition: all 200ms linear;
	}
	&.active-scroll {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	svg path { 
		fill: none; 
	}
	svg.scroll-circle path {
		stroke: var(--primary-color-1);
		stroke-width: 4;
		box-sizing:border-box;
		transition: all 200ms linear;
	}
}
/*==========================================================================
Preloader CSS
==========================================================================*/
.theme-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: var(--heading-color);
	z-index: 9999999999;
}
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
}
.spinner-bounce {
	will-change: transform;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: var(--primary-color-1);
	display: inline-block;
	animation: bounces 1s ease-in-out infinite alternate;
	transform-origin: 50% 50%;
	&.one {
		margin-right: 15px;
	}
	&.two {
		margin-right: 15px;
		animation-delay: .4s;
	}
	&.three {
		animation-delay: .8s;
	}
}
@keyframes bounces {
	0% {
		transform: scale(1);
		background: var(--primary-color-1);
	}
	50% {
		background: var(--primary-color-2);
	}
	100% {
		transform: scale(.2);
		background: var(--primary-color-3);
	}
}